<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Type" value="www.myxnncfu.ccwu.cc" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
